@font-face {
   font-family: 'Fjalla One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/alfgar/Documents/GitHub/grandchalet.github.io/fonts/Fjalla One/regular.ttf') format('truetype');
}
